{% extends "base.html.twig" %}

{% block title %}{{'adminIndex.title'|trans}}{% endblock %}

{% block body %}
    <h1 class="text-white">{{'adminIndex.title'|trans}}</h1>
    <hr class="hr" />
    {% include "_components/adminnav.html.twig" %}
{% endblock %}