{% extends 'base.html.twig' %}

{% block title %} {{'forbidden.msg'|trans}} {% endblock %}

{% block body %}
    <div class="d-flex flex-column text-center">
        <h1 class="text-white" >{{'forbidden.msg'|trans}}</h1>
        <h2 class="text-white" >{{'forbidden.srry'|trans}}</h2>
    </div>
{% endblock %}

